/.metadata/
# ----------------------------
# Eclipse
# ----------------------------
.project
.classpath
.settings/
*.prefs

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# IntelliJ (if ever used)
# ----------------------------
.idea/
*.iml

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Archives
# ----------------------------
*.zip

# ----------------------------
# Logs
# ----------------------------
*.log
*.xlsx

# ----------------------------
# Compiled Java
# ----------------------------
*.class
bin/
out/
target/
